*.swp
lib-cov
*.seed
*.csv
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results
client/public
Conseils.txt
Transformation XML-event Cozy.txt
Vagrantfile
exemple_sortie.json
.vagrant

deploy_config.coffee

node_modules
npm-debug.log
*.transifex.coffee
test/fixtures/events_generated.json
